/* TaskCard.css */
.task-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-right: 30rem;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .task-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ol {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin: 8px 0;
    font-family: 'Sacramento', cursive;;
  }

  /* @font-face {
    font-family: 'Your Custom Font';
    src: url('path-to-your-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
   */